/* src/components/ImageUpload.css */

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .uploading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centers text horizontally */
    margin-top: 20px; /* Adds space between elements */
  }
  