/* src/components/ProgressCircle.css */

.progress-circle {
  position: relative; /* Make the container a positioning context */
  width: 120px;
  height: 120px;
  margin: 0 auto; /* Center the progress circle horizontally within its parent */
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
}

.progress-circle__text {
  position: absolute; /* Position the text absolutely within the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  font-size: 1.2em;
  font-weight: bold;
  color: black; /* Text color */
}
