/* src/components/Search.css and src/components/ImageUpload.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  h2 {
    font-weight: normal; /* Remove bold from headers */
    margin-bottom: 20px;
  }
  