body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #000;
}

.main-header {
  text-align: left;
  margin-left: 20px; /* Optional: Adds a bit of padding from the left edge */
  font-weight: normal; /* Remove bold */
}
